DIRECTORIES:
     MC_BASE:/home/gary/dev/git/music_collection
     OUTPUT:/home/gary/dev/git/music_collection/output
     LOG:/home/gary/dev/git/music_collection/log

FILES:
     ARTIST_FILE:/home/gary/dev/git/music_collection/db/artists.txt
     KEYFILE:/home/gary/dev/temp/music_collection/.keyfile
     SP_KEYFILE:/home/gary/.music_collection/sp_keyfile

DATABASE:
     TYPE:ORACLE
     USERNAME:music_adm
     DBNAME:XEPDB1
     DBHOST:localhost:32118
     DBPASS:music
     DBPORT:32118

xDATABASE:
     TYPE:POSTGRES
     USERNAME:<your Postgres username>
     DBNAME:<your Postgres db name>
     DBHOST:<your Postgres db host>
     DBPASS:<your Postgres db password>